header,footer{
    text-align: center;
    border: solid black;
    border-radius: 5px;
    margin-bottom: 7px;
}
h1{
    font-size: calc(1.5rem + 3vw);
}
h2{
    font-size: calc(1.3rem + 2vw);
}
p{
    font-size: calc(0.5rem + 1vw);
}
main{
    border: solid black;
    border-radius: 5px;
    margin-bottom: 7px;
}
h2{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 7px;
}
article{
    border: solid black;
    border-radius: 5px;
    margin: 5px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vw;
}